html, body {
  height: 100%;
  width: 100%;
  background-image: url(https://imgs.search.brave.com/C6sOb8ElZeRnEnYgrcwwVJqZyu4cRohiaSPubi-qbq0/rs:fit:844:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5U/Q1hGa2xLOFVOMFhm/LTd4NE9tRERRSGFF/SyZwaWQ9QXBp);
  background-size:cover;
}
section {
  width: 100%;
}
section ::after{
  content: " ";
  clear: both;
  display: table;
}
.section-heading {
  color: blue;
  font-size: 35px;
  padding: 4rem;
}
#header-resume {
  opacity: 0.8;
  background-position: center;
  background-image: url(Cover\ img.jpg);
  background-size: cover;
  height: 400px;
  padding-top: 14px;
}
.header-nav li{
 display: inline-block;
}
.header-nav ul{
  word-spacing: 20px;
}
.header-nav li a{
  color:blue;
  text-decoration: none;
}
.header-nav li a:hover {
  color:#00ff88;
}
.nav-menu li a {
  transition:color 0.5s, border-bottom 4s ;
}
#name-container {
  margin-top: 150px;
  font-size: 30px;
}
.nav-menu li a:hover { 
  border-bottom: 1px solid black;
}
.header-nav li a{
  font-family: Staatliches;
}
.text-center{
  text-align: center;
}
#myName {
  color: aliceblue;
}
#myPhoto img{
  margin-top: -120px;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0px 0px 6px 4px;
}
#about-section {
  height: auto;
  width: 100%;
  position: relative;
}
#about-profile{
  color: black;
  width: 80%;
  padding: 20px;
  margin: auto;
}
#skills-section {
  width:100% ;
}
.skills-display{
  padding:5px;
  margin-bottom:30px;
}
.skills-progress {
  border-width:1px;
  background-color:grey;
  width:176px;
  height: 35px;
  border-radius: 16px;
  box-shadow:1px 1px 2px 1px black ;
  margin:22px;
  overflow:hidden;
}
.skill-name span {
  text-align:center;
  font-size:16px;
  margin-left: 10px; 
  color:white;
}
.skill-box {
  box-shadow:1px 1px 2px 1px black ;
}
.blue {
  background-color:blue;
}
.fifty-percent {
  height: inherit;
  width: 50%;
}
.pink {
  background-color:pink;
}
.eightyfive-percent {
  height: inherit;
  width: 85%;
}
.green {
  background-color:green;
}
.eighty-percent {
  height: inherit;
  width: 80%;
}
.teal {
  background-color:teal;
}
.thirtyfive-percent{
  height: inherit;
  width: 35%;
}
.orange {
  background-color:orange;
}
.sixtyfive-percent {
    height: inherit;
    width: 65%;
}
.skills-display {
  text-align: center;
}
.col-2 {
  float: left;
  width: 45%;
  margin: 20px;
  padding: 10px;
}
.col-3 {
  float: left;
  width: 17%;
}
#favourite-section img {
  width: 500px;
  border: 2px dashed darkblue;
  height: 500px;
}
#education-section img {
width: 1000px;
height: 500px;
}
#portfolio-section .col-3{
  width: 31.6%;
  margin: 10px;
}
.portfolio-display {
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 50px;
  padding-left: 50px;
}
.porfolio-img {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  position: relative;
}
.portfolio-img img {
  width: 312px;
  height: 312px;
}
.porfolio-text {
  transition: all 0.5s ease-in-out;
  position: absolute;
  color: transparent;
  width: 100%;
  text-align: center;
  height: 100%;
  padding: 10px;
  top: 0;
  left: 0;
}
.portfolio-img:hover{
  box-shadow: 1px 1px 1px lightseagreen;
}
.portfolio-img:hover .portfolio-text{
  background-color: grey;
  opacity: 0.5;
  color: white;
}